#row1{
    display:block;
    width: 50%;
    text-align: center;
    height: auto;
    border: 3px solid red;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
    background-color: lightblue;
    font-weight: 600;
}

body{
    background-image: url(images/bg2.jpg);
    background-position: center;
}
.btn{
        background: grey;
        border-radius: 5px;
        letter-spacing: 3px;
        height: 25px;
        width: 70px;
        color: white;
        margin-bottom: 7px;
    
    
}
.wrapper{
    width: 100%;
    height:auto;
    padding: 24px;
    background-color: rgb(29, 133, 101);
    
}
.h1{
    text-align: center;
    color:#fff;
    line-height: 10px;
}
.nav-bar{
    padding-bottom: 4%;
}

ul li{
    list-style: none;
    display: inline;
    float: left;
    padding: 10px;
    color: rgb(15, 131, 92);
    font-size: 18px;
    font-weight: 500;
}
li:hover{
    border: 2px solid red;
    color: indigo;
    border-radius: 10px;
    padding: 3px;
}

a{
    text-decoration: none;
    color:white
}
.total{
    color: #fff;
    width: auto;
    height: 60px;
    text-align: center;
    background: cornflowerblue;
}