<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block head_content %}
	{% endblock %}	
	<title>{% block title %}Base{% endblock %}</title>
</head>
<body class="body" id="body">
	<header class = "wrapper">
		<h1 class="h1">PROGRESS TRACKER</h1>
	</header> 
	<div class="nav-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/books">All Books</a></li>
			<li><a href="/tech">Technical Books</a></li>
			
		</ul>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>