{% extends "base.html" %} 
{% block head_content %}
   
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/books.css' "" ) }}">
{% endblock %} 
{% block title%} Books {% endblock %} 
{% block content %} 

<div class="total">
    <h2>TOATAL BOOKS IN RECORD: {{total}}</h2>
</div>
    {% if books %} 
        {% for book in books %}
            <div id="row1">
                <p>BOOK NAME: {{ book.book_name }}</p>
                <p>AUTHOR: {{ book.author }}</p>
                <p>THEME: {{ book.theme }}</p>
                <p>PUBLICATION YEAR: {{ book.pub_year }}</p>
                <p class="boolean">Read: {{ book.is_read }}</p>
                <p>Date added: {{ book.date_added }}</p>
                <button class="btn"><a href="/books/edit/{{book.id}}">Edit</a></button>
                <button class="btn"><a href="/books/delete/{{book.id }}">Delete</a></button>
            </div>
        {% endfor %} 
    {% endif %} 
{% endblock %}